.home-div {
  text-align: center;
  background-image: linear-gradient(
    to right,
    rgb(49, 207, 247, 0.4),
    white,
    rgb(31, 243, 208, 0.3)
  );
}
.home-inner-div{
    padding-top: 15rem;
    height: 89.8vh;
}
.home-div p {
  letter-spacing: 5px;
  font-size: 2rem;
  font-family: cursive;
  color: rgb(252, 4, 4);
  padding-top: 1rem;
}
.home-div h3 {
  text-transform: uppercase;
  padding-bottom: 1.5rem;
  font-weight: 400;
  font-family: Georgia, "Times New Roman", Times, serif;
}

@media screen and (max-width: 480px) {
    .home-inner-div{
        padding-top: 15rem;
    }
}
/* @media screen and (max-width: 1100px) {
    .home-inner-div{
        padding-top: 13rem;
        height: 93vh;
    }
} */

